<%- include('partials/nav.ejs') %>

<main>
  <div>
    <div class="px-3 py-8 bg-red-500">
      <h1 class="font-extrabold text-6xl font-mono text-center text-slate-200">Projects</h1>
    </div>
  </div>

  <div class="bg-teal-500">
    <div class="px-3 py-8">
      <h1 class="font-extrabold text-5xl font-mono text-center text-slate-200">Tech Stack Used</h1>
    </div>
    <p class="text-center text-3xl py-2 text-amber-800">Node.js, Express.js, PostgreSQL</p>
  </div>

  <div class="bg-blue-700 flex flex-wrap md:flex-nowrap h-1/2">
    <div class="bg-yellow-300 w-full md:w-1/2 p-5">
      <div>
        <h2 class="text-blue-900 text-3xl font-bold px-2">PlantEase</h2>
        <p class="px-2 md:px-10">E-Commerce portal for plants, consisting of an AI care bot and community page for blogging.</p>
        <a href="https://www.github.com/jainaryan04/plantease" target="_blank" class="flex items-end justify-end mt-4">
          <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github">
            <path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-5">
      <div>
        <h2 class="text-yellow-300 text-3xl font-bold px-2">To Do List</h2>
        <p class="px-2 md:px-10">Added feature includes sorting of tasks based on priority decided by user.</p>
        <a href="https://www.github.com/jainaryan04/to_do_list" target="_blank" class="flex items-end justify-end mt-4">
          <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github">
            <path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-yellow-300 flex flex-wrap md:flex-nowrap h-1/2">
    <div class="md:bg-blue-700 w-full md:w-1/2 p-5">
      <div>
        <h2 class="md:text-yellow-300 text-3xl font-bold px-2">Basic News API</h2>
        <p class="px-2 md:px-10">Allows users to filter stories based on category and add comments to stories.</p>
        <a href="https://www.github.com/jainaryan04/gdsc_news_api" target="_blank" class="flex items-end justify-end mt-4">
          <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github">
            <path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-5 bg-blue-700 md:bg-yellow-300">
      <div>
        <h2 class="md:text-blue-900 text-3xl font-bold px-2 text-yellow-300">Quiz Page</h2>
        <p class="px-2 md:px-10">Allows users to input questions, add options, select correct answer and then quiz others.</p>
        <a href="https://www.github.com/jainaryan04/csi2" target="_blank" class="flex items-end justify-end mt-4">
          <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github">
            <path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>
</body>
</html>
